body {
  background-color: #ffc600;
  font-size: 20px;
  line-height: 1.5;
}

.text-wrapper {
  width: 85vw;
  max-width: 600px;
  margin: 100px auto;
  background-color: #fff;
  padding: 10px 40px 30px 40px;
}

.align-left {
  float: left;
  margin: 10px 20px 20px 0;
  transform: translate(-90%, 0);
  transition: all 1s;
}

.align-right {
  float: right;
  margin: 10px 0 20px 20px;
  transform: translate(90%, 0);
  transition: all 1s;
}


img {
  opacity: 0.1;
}
